{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog!</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam neque labore non repellat vero at quod commodi voluptatum placeat omnis, ad deserunt adipisci dolor modi aperiam sint impedit dignissimos aliquid eligendi ea. Numquam, ut magnam doloribus atque repellat saepe.</p>
    <p>Eius cum iste rem sapiente error ipsum repudiandae earum, vitae doloremque mollitia optio cumque praesentium autem quam animi iure temporibus facilis natus a maxime, magnam atque eaque molestiae labore? Accusamus consequuntur quia delectus officia tenetur placeat ab minima, aperiam enim.</p>

{% endblock body %}